extends layout

block content
  section.container
    h1= part.title
    .row
      .col-xs-12.col-md-6
        #partRenderCanvas
          //- Display an initially hidden loading overlay
          //- .hidden from Bootstrap
          .overlay
            //- .spinner from spinner.styl
            //.spinner
            //- From partPage.styl
            .loadinfo
              | Loading 3D view...
          img(src='/public/images/thumbnails/#{part._id}.gif')
      #parameterModule.col-xs-12.col-md-6
        //- If users see this, then the parameter module wasn't initalized properly
        //-p.alert.alert-danger Something went wrong when loading this page :(
        #presetDropdownBox
        #sliderBox
    .row
      .col-xs-12.col-md-6
        p= part.description
      .col-xs-12.col-md-6
        p Specifications, order, etc.
    .row
      .col-xs-12
        p Comments here. Aligned in the middle.
block append scripts
  //- Old way to include scripts
  //- Change to // on production
  script(src="/public/javascripts/three.js")
  script(src="/public/javascripts/OrbitControls.js")
  script(src="/public/javascripts/CADview.js")
  //- Slider js, slider CSS is integrated into main stylesheet
  script(src="/public/javascripts/bootstrap-slider.min.js")
  script(src="/public/javascripts/partPage.js")
  //- New but very cpu-heavy way to include scripts
    | <script type="text/javascript">
    include ../public/javascripts/three.js
    include ../public/javascripts/OrbitControls.js
    include ../public/javascripts/CADview.js
    include ../public/javascripts/bootstrap-slider.min.js
    include ../public/javascripts/partPage.js
    | </script>