@import url(http://fonts.googleapis.com/css?family=Exo+2:400,100,200,300,500,600,700,800,900);
/* Theme:
http://mudcu.be/sphere/# analogous websmart
*/
.partRenderCanvas img {
  display: block;
  margin: 0 auto;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  float: none;
}
.loadinfo {
  position: absolute;
  color: #fff;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -0.5em;
  text-shadow: 0 0 6px #000;
}
@-webkit-keyframes spinner1 {
	  from {
	    -webkit-transform: rotate(0deg);
	  }

	  to {
	    -webkit-transform: rotate(360deg);
	  }
	}
	@-moz-keyframes spinner1 {
	  from {
	    -moz-transform: rotate(0deg);
	  }

	  to {
	    -moz-transform: rotate(360deg);
	  }
	}
	@-o-keyframes spinner1 {
	  from {
	    -o-transform: rotate(0deg);
	  }

	  to {
	    -o-transform: rotate(360deg);
	  }
	}
	@keyframes spinner1 {
	  from {
	    transform: rotate(0deg);
	  }

	  to {
	    transform: rotate(360deg);
	  }
	}
	@-webkit-keyframes spinner2 {
	  from {
	    -webkit-transform: rotate(0deg);
	  }

	  to {
	    -webkit-transform: rotate(-360deg);
	  }
	}
	@-moz-keyframes spinner2 {
	  from {
	    -moz-transform: rotate(0deg);
	  }

	  to {
	    -moz-transform: rotate(-360deg);
	  }
	}
	@-o-keyframes spinner2 {
	  from {
	    -o-transform: rotate(0deg);
	  }

	  to {
	    -o-transform: rotate(-360deg);
	  }
	}
	@keyframes spinner2 {
	  from {
	    transform: rotate(0deg);
	  }

	  to {
	    transform: rotate(-360deg);
	  }
	}
	.spinner {
	  position: absolute;
	  width: 54px;
	  height: 54px;
	  top: 50%;
	  left: 50%;
	  margin-left: -27px;
	  margin-top: -27px;
	}
	.spinner:after, .spinner:before {
	  position: fixed;
	  content: "";
	  border: 2px solid #FFF;
	  width: 52px;
	  height: 52px;
	}
	.spinner:after {
	  -webkit-animation: spinner1 2.5s linear infinite;
	  -moz-animation: spinner1 2.5s linear infinite;
	  animation: spinner1 2.5s linear infinite;
	}
	.spinner:before {
	  width: 64px;
	  height: 64px;
	  margin-left: -6.5px;
	  margin-top: -6.5px;
	  -webkit-animation: spinner2 2.5s linear infinite;
	  -moz-animation: spinner2 2.5s linear infinite;
	  animation: spinner2 2.5s linear infinite;
	}
.tags {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tags li,
.tags a {
  float: left;
  height: 24px;
  line-height: 24px;
  position: relative;
  font-size: 11px;
  margin-bottom: 5px;
}
.tags a {
  margin-left: 20px;
  padding: 0 10px 0 12px;
  background: #0089e0;
  text-decoration: none;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.productgrid .product .tags a {
  color: #fff;
}
.tags a:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent #0089e0 transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
}
.tags a:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  float: left;
  width: 4px;
  height: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  -moz-box-shadow: -1px -1px 2px #004977;
  -webkit-box-shadow: -1px -1px 2px #004977;
  box-shadow: -1px -1px 2px #004977;
}
@media (max-width: 768px) {
  .container.productgrid {
    max-width: 440px;
  }
}
.container {
  max-width: 970px;
}
header {
  padding: 0.8em;
  padding-left: 1.6em;
}
header h1,
nav {
  font-family: 'Exo 2', sans-serif;
  font-weight: 200;
}
header h1 {
  font-size: 3.6em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
header h1 strong {
  font-weight: 700;
}
header h1 a {
  color: inherit;
}
header h1 a:hover {
  text-decoration: none;
  color: inherit;
}
nav {
  font-weight: 700;
  font-size: 1.2em;
}
.productgrid {
  margin-top: 1.5em;
}
.productgrid .product {
  padding: 1em;
  font-family: 'Exo 2', sans-serif;
}
.productgrid .product h1 {
  font-size: 2em;
  font-weight: 700;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.productgrid .product a {
  text-decoration: none;
  color: #000;
}
.productgrid .product p {
  color: #666;
}
.productgrid .product img {
  max-width: 100%;
}
body > footer {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 2em;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  background: linear-gradient(#fff, #eee);
}
