/* Tryout css */

@import url(http://fonts.googleapis.com/css?family=Exo+2:400,100,200,300,500,600,700,800,900);

.container {
	max-width: 970px;
}

header {
	padding: .8em;
	padding-left: 1.6em;
}
header h1, nav {
	font-family: 'Exo 2', sans-serif;
	font-weight: 200;
}
header h1 {
	font-size: 3.6em;
	margin-top: .4em;
	margin-bottom: .4em;
}
header h1 strong {
	font-weight: 700;
}
nav {
	font-weight: 700;
	font-size: 1.2em;
}

.productgrid {
	margin-top: 1.5em;
}
.productgrid .product {
	padding: 1em;
	font-family: 'Exo 2', sans-serif;
}
.productgrid .product h1 {
	font-size: 2em;
	font-weight: 700;
	margin-top: .3em;
	margin-bottom: .3em;
}
.productgrid .product a {
	text-decoration: none;
}
.productgrid .product p {
	color: #666;
}
.productgrid .product img {
	max-width: 100%;
}

body > footer {
	padding-top: 2em;
	padding-bottom: 2em;
	margin-top: 2em;
	color: #777;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	background: linear-gradient(white, #EEE);
}