// From http://codepen.io/alachie/pen/AslbK
// Must be escaped with @css, because of Stylus!
@css{
	@-webkit-keyframes spinner1 {
	  from {
	    -webkit-transform: rotate(0deg);
	  }

	  to {
	    -webkit-transform: rotate(360deg);
	  }
	}
	@-moz-keyframes spinner1 {
	  from {
	    -moz-transform: rotate(0deg);
	  }

	  to {
	    -moz-transform: rotate(360deg);
	  }
	}
	@-o-keyframes spinner1 {
	  from {
	    -o-transform: rotate(0deg);
	  }

	  to {
	    -o-transform: rotate(360deg);
	  }
	}
	@keyframes spinner1 {
	  from {
	    transform: rotate(0deg);
	  }

	  to {
	    transform: rotate(360deg);
	  }
	}
	@-webkit-keyframes spinner2 {
	  from {
	    -webkit-transform: rotate(0deg);
	  }

	  to {
	    -webkit-transform: rotate(-360deg);
	  }
	}
	@-moz-keyframes spinner2 {
	  from {
	    -moz-transform: rotate(0deg);
	  }

	  to {
	    -moz-transform: rotate(-360deg);
	  }
	}
	@-o-keyframes spinner2 {
	  from {
	    -o-transform: rotate(0deg);
	  }

	  to {
	    -o-transform: rotate(-360deg);
	  }
	}
	@keyframes spinner2 {
	  from {
	    transform: rotate(0deg);
	  }

	  to {
	    transform: rotate(-360deg);
	  }
	}
	.spinner {
	  position: absolute;
	  width: 54px;
	  height: 54px;
	  top: 50%;
	  left: 50%;
	  margin-left: -27px;
	  margin-top: -27px;
	}
	.spinner:after, .spinner:before {
	  position: fixed;
	  content: "";
	  border: 2px solid #FFF;
	  width: 52px;
	  height: 52px;
	}
	.spinner:after {
	  -webkit-animation: spinner1 2.5s linear infinite;
	  -moz-animation: spinner1 2.5s linear infinite;
	  animation: spinner1 2.5s linear infinite;
	}
	.spinner:before {
	  width: 64px;
	  height: 64px;
	  margin-left: -6.5px;
	  margin-top: -6.5px;
	  -webkit-animation: spinner2 2.5s linear infinite;
	  -moz-animation: spinner2 2.5s linear infinite;
	  animation: spinner2 2.5s linear infinite;
	}
}